html {
    height : 100%;
}
body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: rgb(243, 243, 255);
}
.calculator {
    display: flex;
    flex-direction: column;
    width : 400px;
    height: 550px;
    background-color: white;
    border-radius: 30px;
    padding: 30px;
    /* justify-content: center; */
    align-items: center;

}
.buttons {
    display: grid;
    grid-template-columns: repeat(4, 75px);
    grid-template-rows: repeat(5, 75px);
    gap: 10px;
    
} 
.display {
    width: 330px;
    padding: 0;
    padding-bottom: 30px;
    margin: 0;
}
.display-screen {
    color: black;
    width: 330px;
    height: 100px;
    display: flex;
    background-color: white;
    justify-content: flex-end;
    align-items: center;
    font-size: 100px;
    padding: 0;
    margin: 0;
    border: none;
}
button {
    /* width: 75px;
    height: 75px; */
    font-size: 30px;
    border: none;
    background-color: #f0f0f0;
    padding: 10px;
    margin: 0;
    border-radius: 10px;
    cursor: pointer;
}
.operator {
    background-color: #ff9a00;
}
.equal {
    grid-column: span 2;
    background-color: rgb(87, 224, 87);
}